<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Divine_Hotel_Management_System.Properties.Settings.DHMSdatabaseConnectionString"
            connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=DHMSdatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>